<img alt="Credit_card" id="credit-card-image" src="/assets/credit_cards/credit_card.gif">
<form>
  <label>Card Number</label>  
  {{input type=password value=cardNumber}}
  <label>Expiration</label>
  {{input type=text value=expiration}}
  <label>Card Code</label>
  {{input type=password value=cardCode}}
</form>