<div class="navbar">
  <div class="navbar-inner">
    <div class="container span12">
      <a class="brand" href="#"><h1> Spree Outlet </h1></a>
      <ul class="nav">
      {{#if App.currentUser}}
        Welcome, {{App.currentUser.email}} {{#linkTo "account"}} Account {{/linkTo}} | 
        {{#linkTo "logout"}} Log out {{/linkTo}}
      {{else}}
        <li>{{#linkTo "login"}} Log In {{/linkTo}}</li>
      {{/if}}
      </ul>
    </div>
  </div>
</div>
<div>
  {{#if cart.model}} {{#linkTo "cart"}} <b> Cart </b> {{/linkTo}} {{/if}}
</div>